.container{
    min-height: 320px;
    height: 320px;
    max-width: 392px;
    min-width: 392px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background: url('/images/argument-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* .container{
    background: url('/images/banner.jpg');
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
	background-size: cover;
    height: 375px;
    width: 100%;
    max-width: 1710px;
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   } */