.container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
   border-radius: 10px 10px 0px 0px;
   background: url('/images/slide.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   /* max-width: 1335px; */
}

/* .bannerTitle1{
    color: #FFF;;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.bannerTitle2{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
} */