.container{
    /* max-width: 1335px; */
    height: 330px;
    border-radius: 10px 10px 0px 0px;
    background: url('/images/events/event1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

