.container {
    margin-top: -110px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.coursesTxt {
    text-align: center;
}

.eventCard { 
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}