@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

* {
  box-sizing: border-box;
}

.up {text-transform: uppercase;}

.yellow {color:#FFE000;}
.grey {color:#818181}
.whiteBtn {color: white !important; border-color: #ffffff !important;}
.whiteBtn:hover {color: black !important; border-color: #FFE000 !important; background-color: #FFE000 !important;}


h1,h2,h3,h4,h5,h6 {
  margin: 0; 
  font-style: normal;
  font-weight: 400; 
}

h1 {
 font-size: 28px;
}
h2 {
  font-size: 26px;
 }

 h3 {
  font-size: 24px;
 }

 h4 {
  font-size: 22px;
 }

 h5 {
  font-size: 20px;
 }

 h6 {
  font-size: 28px;
 }
 .hero1 {
  font-size: 28px;
 }

 .hero2 {
  font-size: 28px;
 }

 .boldFont{font-weight: 900;}

 